html{
    margin: 0;
    padding: 0;
    background-color: #F7F7FF;
}

.container{
/*the big container in the html (body)*/
    margin: 0 auto;
    max-width: 1023px;
    background-image: url(images/bg-image/scooter.svg);
    /*to set a background image and everything will go over the img*/
    background-repeat: no-repeat;
    /* to stop the image from repeating if the image size is small*/
    background-position: center 40%;
    background-size: 50%;
}

.site-header{
    /*to resize the logo img*/
    width: 100%; 
    padding: 2px;
    margin: 2px;
    height: 120px;
}
.site-header img{
    max-height: 100%;
}

.main{
    display: grid; 
    grid-template-columns: 1fr 1fr;
    grid-gap: 40%;
    margin: 5px;
}

h1{
    font-family: montserrat;
    font-size: 50px;
}
p{
    font-family: montserrat;
    font-size: 13px;  
}

/***** Form *****/
.form-wrap{ 
    background-color: white;
    border-radius: 14px;
    box-shadow: 0 4px 4px 0px gray;
    padding: 19px;
    font-family: montserrat;
}
h2{
    font-family: montserrat;
    font-size: 25px;   
}
h3{
    font-family: montserrat;
    font-size: 13px;    
}
h4{
    font-size: 8px;
    text-align: center;
}
textarea,
input{
  display: block;
  width: 90%;
  padding: 5px;
  font-size: 1rem;
  margin: 3px;
  border-radius: 5px;
  background-color: #F4F4F5;
}
input[type="text"]{
    display: block;
    margin-bottom: 8px;
    width: 90%;
}
input[type="checkbox"]{
    width: auto;
    display: inline-block;
  }
.form-wrap button{
    background-color: #57EEAB;
    color: black;
    border-radius: 7px;
    font-size: 20px;
    text-align: center;
    padding: 5PX; 
    width: 100%; 
    margin-top: 8px;
}

/***** footer *****/
footer{
    background-color: #fffd8c;
    padding: 2px;
    padding-left: 40px;
}
h5{
    font-family: montserrat;
    font-size: 18px;    
}
h6{
    font-family: Montserrat;
    font-size: 16px;
}
.footer-wrap input,
 textarea{
     display: flex;
     justify-content: flex-start;
     width: 30%;
     border-radius: 8px;
     color: #57EEAB;
}
.footer-wrap button{
    background-color: #FF8480;
    color: white;
    border-radius: 5px;
    font-size: 13px;
    text-align: center;
    padding: 4PX;
    width: 15%;
}
.icons{
   display: flex;
   flex: wrap;
   justify-content: space-between;
}

/****** media ******/
@media screen and (min-width: 400px){
    .main{
        display: block;
    }
    .form-wrap{
       height: auto;
    }
    h1{
        font-size: 50px;
    }
    .container{
        z-index: -1;
    }
}